body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(236,229,199,1) 0%, rgb(85, 161, 126) 100%);
    background-color: #354259;
    height: 99vh;
    font-family: 'Lexend', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-area{
    display: flex;
    width: 1000px;
    height: 700px;
    background-color: #C2DED1;
    border-radius: 12px;
}

.game-area{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 30px;
    flex-shrink: 0;
}

.settings-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.grid-text-background{
    background-color: #ECE5C7;
    border-radius: 12px;
    color: #354259;
    height: 60px;
    width: 220px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px #0000003d;
}

.slider-bar-background{
    background-color: #354259;
    border-radius: 12px;
    height: 30px;
    margin: 15px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px #0000003d;
}

.brush-color-background{
    background-color: #ECE5C7;
    color: #354259;
    border-radius: 12px;
    height: 60px;
    width: 220px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px #0000003d;
}

#colorpicked{
    display: inline-block;
    margin: 10px;
}
