body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9EBC8;
    /* background-image: url(./Images/design-space-paper-textured-background.jpg); */
    /* background-size: cover; */
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to left, #004e92, #000428);
    height: 99vh;
    font-family: 'Encode Sans', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-area{
    display: flex;
    margin-top: 30px;
    width: 830px;
    height: 565px;
    background-color: #0000001f;
    border-radius: 12px;
}

.game-area{
    width: 500px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.425);
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 30px;
    flex-shrink: 0;
}

.settings-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.grid-text-background{
    background-color: #EDE6DB;
    border-radius: 6px;
    font-size: 13px;
    color: #000c50;
    height: 50px;
    width: 210px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px #0000003d;
}

.slider-bar-background{
    background-color: #EDE6DB;
    border-radius: 6px;
    height: 30px;
    margin: 15px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px #0000003d;
}

.brush-color-background{
    background-color: #EDE6DB;
    color: #000c50;
    font-size: 13px;
    border-radius: 6px;
    height: 60px;
    width: 210px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px #0000003d;
}

#colorpicked{
    display: inline-block;
    margin: 10px;
}

.header{
    width: 600px;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #EDE6DB;
    font-size: 1.2vw;
}

.footer{
    font-size: 10px;
    color:#cacaca;
    margin: 1.5vw;
}

a{
    color: #cacaca;
    text-decoration: none;
    transition: 0.5ms;
}
a:visited{
    color: #cacaca;
}
