body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #F9EBC8;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to left, #004e92, #000428); */
    background-image: url(./images/test-01.svg);
    background-size: cover;
    height: 100vh;
    margin: 0px;
    font-family: 'Press Start 2P', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-area{
    display: flex;
    width: 990px;
    height: 565px;
    background-color: #0000001f;
    border-radius: 12px;
}

.game-area{
    width: 500px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.425);
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 30px;
    flex-shrink: 0;
}

.settings-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-text-background{
    /* background-color: #EDE6DB;
    border-radius: 6px; */
    background-image: url(./images/grid-size-button.svg);
    font-size: 0.41rem;
    color: black;
    height: 50px;
    width: 210px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 5px 20px #0000003d; */
}

.slider-bar-background{
    background-image: url(./images/slider-bg-01.svg); 
    height: 30px;
    margin: 15px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brush-color-background{
    background-image: url(./images/brushbutton-01.svg);
    color: black;
    font-size: 0.43rem;
    height: 60px;
    width: 210px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#colorpicked{
    display: inline-block;
    margin: 0px;
}

.header{
    width: 330px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer{
    font-size: 0.5rem;
    color:#000000;
}

a{
    color: #e0e1cf;
    text-decoration: none;
    transition: 0.5ms;
}
a:visited{
    color:none;
}

